item-hotel {
    .contenedorImg{
        height: 250px; 
        max-width: 35%;
        display: grid;
        padding: 10px;
    }

    .contenedorDescripcion{
        height: 250px; 
        max-width: 35%;
        padding: 10px;
    }

    .contenedorValor{
        height: 240px; 
        max-width: 25%;
        text-align: center;        
        border-left: 1px darkgray dashed;
        margin: auto;
        display: grid;
        align-items: center;
        padding: 20px;
    }
    
    .imagen{
        height: 100%;
    }

  

    .lblStart{
        display: grid;
        padding: 5px;
    }
    
    .contenedorAmenitie {
        display: flex;
    }


    .amenitie{
        height: 30px;
        width: 30px;
        padding: 5px; 
        display: grid;
        align-items: center;
    }

    .lblValor{
        font-size: 25px;
        color: #d86a00;
        font-weight: bold;
    }
    
    .lblCode {
        color: #d86a00;
        font-size: 20px;
    }


}
