item-hotel {
    .contenedorImg{
        height: 250px; 
        max-width: 35%;
        display: grid;
        padding: 10px;
    }

    .contenedorDescripcion{
        height: 250px; 
        max-width: 35%;
        padding: 10px;
    }

    .contenedorValor{
        height: 240px; 
        max-width: 25%;
        text-align: center;        
        border-left: 1px darkgray dashed;
        margin: auto;
        display: grid;
        align-items: center;
        padding: 20px;
    }
    
    .imagen{
        height: 100%;
    }

  

    .lblStart{
        display: grid;
        padding: 5px;
    }
    
    .contenedorAmenitie {
        display: flex;
    }


    .amenitie{
        height: 30px;
        width: 30px;
        padding: 5px; 
        display: grid;
        align-items: center;
    }

    .lblValor{
        font-size: 25px;
        color: #d86a00;
        font-weight: bold;
    }
    
    .lblCode {
        color: #d86a00;
        font-size: 20px;
    }

    @media screen and (max-width: 650px) {
        .contenedorImg{
            max-width: 100%;
            display: contents;
        }

        .imagen{
            height: 200px;
            // padding: 10px;
        }

        .contenedorDescripcion{
            height: 120px; 
            max-width: 100%;
            padding: 10px;
            display: block;
        }

        .lblName{
            color: dodgerblue;
            font-weight: bold;
            font-size: 16px;
          } 

        .contenedorStart{
            display: flex;
            max-width: 20px;
          }

          .lblStart{
            // display: grid;
            padding: 5px;
        }
        
        .contenedorAmenitie {
            display: flex;
        }
    
        
    .amenitie{
        height: 30px;
        width: 30px;
        padding: 5px; 
        display: grid;
        align-items: center;
    }
    .contenedorValor{
        height: 180px; 
        max-width: 100%;
        text-align: center;        
        border-top: 1px darkgray dashed;
        border-left: none;
        margin: auto;
        display: grid;
        align-items: center;
        padding: 35px;
    }

    }

}
