<!-- Generated template for the FiltrosComponent component -->
<div>
  <ion-card>
    <ion-card-header>Filtros</ion-card-header>
    <ion-card-content>
        <button ion-item>
          <label class="icon-search"></label>
          <!-- <img src="assets/icon/star.svg" class="start"/> -->
          <label>Nombre Hotel</label>
        </button>

        <button ion-item>
          <label class="icon-start"></label>
          <!-- <label><img src="assets/icon/star.svg" class="icono"/></label> -->
          <label>Estrellas</label>
        </button>
    </ion-card-content>
  </ion-card>

</div>