filtros {
    // .card-header-md{
    //     border-bottom: 10px solid #f8f8f8;
    // }
    .card-content-md {
        border-bottom: 10px solid #f8f8f8;
    }

    .contenedorCol{
        max-width: 80px;
    }
    .contenedorRow{
        display: flex;
        align-items: center;
    }
}