<!-- Generated template for the FiltrosComponent component -->
<div>
  <ion-item class="ContenedorFiltroApp" >
      <label class="lblName">Filtrar</label>
      <button style="background: transparent" (click)="Mostrar('Filter')">
          <ion-icon color="primary" [name]="iconFilter"></ion-icon>
        </button>
  </ion-item>

  <ion-card>
    <ion-card-content class="ContenedorFiltroWeb">
      <h2>
        <strong >Filtros</strong>
      </h2>
    </ion-card-content>
    <div  *ngIf="Filter">
    <ion-card-content>
      <ion-item>
        <label class="icon-search"></label>
        <label class="lblName">Nombre de hotel</label>
        <button item-end style="background: transparent" (click)="Mostrar('Search')">
          <ion-icon color="primary" [name]="iconSearch"></ion-icon>
        </button>
      </ion-item>
      <ion-row class="contenedorRow" *ngIf="Search">
        <ion-col>
          <ion-input [(ngModel)]="text" placeholder="Ingrese el nombre del hotel"></ion-input>
        </ion-col>
        <ion-col class="contenedorCol">
          <button class="BtnVer" (click)="buscarHotel(text)">
            Aceptar
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-content>
      <ion-item>
        <ion-icon color="primary" name="star"></ion-icon>
        <label class="lblName">Estrellas</label>
        <button item-end style="background: transparent" (click)="Mostrar('Start')">
          <ion-icon color="primary" [name]="iconStart"></ion-icon>
        </button>
      </ion-item>
      <div *ngIf="Start">
        <ion-item *ngFor="let filtro of filtroEstrella">
          <ion-label class="contenedorStart">
            <label class="icon-start" [ngStyle]="{'width' : filtro.valor * 2 + '0px' , 'background-repeat': 'space' , 'background-size': '20px' , 'height': '20px' }"> {{filtro.valor == 0 ? 'Todas las estrellas' : ''}}</label>
          </ion-label>
          <ion-checkbox [(ngModel)]="filtro.check" (click)="metFilEstrellas(filtro)"></ion-checkbox>
        </ion-item>
      </div>
    </ion-card-content>
  </div>
  </ion-card>
</div>