.toolbar-background-md {
    background: darkblue;
  }

  .content-md {
    background-color: #f8f8f8;
  }
 
  .icon-start{
    background-image: url("../../assets/icon/star.svg");
    display: inline-block;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    }   

.icon-search{
    background-image: url("../../assets/icon/search.svg");
    display: inline-block;
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
 }
