.toolbar-background-md {
    background: darkblue;
  }

  .content-md {
    background-color: #f8f8f8;
  }
 
  .icon-start{
    background-image: url("../../assets/icon/star.svg");
    display: inline-block;
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
    }   

.icon-search{
    background-image: url("../../assets/icon/search.svg");
    display: inline-block;
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
 }

 .lblName{
  color: dodgerblue;
  font-weight: bold;
  font-size: 16px;
}

   

.BtnVer{
  background-color: darkblue;
  color: white; 
  font-weight: bold;
  border-radius: 4px;
  height: 40px;
  font-size: 18px;
}

.contenedorStart{
  display: flex;
  max-width: 20px;
}